
nav {
  background-color: #f1f1f1;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #007bff;
}

/* Home.css */

.home-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.home-container h1 {
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
}

.posts-list {
  list-style: none;
  padding: 0;
}

.posts-list li {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.posts-list li p:first-child {
  font-weight: bold;
  color: #222;
  margin-bottom: 8px;
}

.posts-list li p:last-child {
  color: #555;
}
.pagination-btn{
  width: 10%;
  display: flex;
  justify-content: space-between;
}